<div class="seoratings__module__filter__title">{{name}}</div>
<div class="seoratings__module__filter__slider" data-js="filter__container--slider">
  <div class="seoratings__module__filter__slider--inline">
    <span class="seoratings__module__filter__slider--unit">От</span>
    <input data-type="range" type="text" class="seoratings__module__filter__slider--input min" name="{{code}}:min" data-min="{{min}}" data-max="{{max}}" placeholder="{{min}}" data-title="{{name}}">
    <span class="seoratings__module__filter__slider--currency ruble">Р</span>
  </div>
  <div class="seoratings__module__filter__slider--inline">
    <span class="seoratings__module__filter__slider--unit">До</span>
    <input data-type="range" type="text" class="seoratings__module__filter__slider--input max" name="{{code}}:max" data-min="{{min}}" data-max="{{max}}" placeholder="{{max}}" data-title="{{name}}">
    <span class="seoratings__module__filter__slider--currency ruble">Р</span>
  </div>
</div>