<div class="seoratings__module__filter__title">{{name}}</div>
<label class="seoratings__module__filter__label">
  <input data-type="radio" class="seoratings__module__filter__input--radio" type="radio" name="{{code}}" value="1" data-title="{{name}}">
  <span class="seoratings__module__filter__span--text">Да</span>
</label>
<label class="seoratings__module__filter__label">
  <input data-type="radio" class="seoratings__module__filter__input--radio" type="radio" name="{{code}}" value="0" data-title="{{name}}">
  <span class="seoratings__module__filter__span--text">Нет</span>
</label>
<label class="seoratings__module__filter__label">
  <input data-type="radio" class="seoratings__module__filter__input--radio" type="radio" name="{{code}}" checked value="" data-title="{{name}}">
  <span class="seoratings__module__filter__span--text">Неважно</span>
</label>